{% extends "home/base.html" %}

{% load static %}

{% block title %} Hakkımızda {% endblock %}

{% block One %}
<section id="One" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <h2>Şekerpare</h2>
            </header>
        </div>
</section>
{% endblock %}

{% block Two %}
<section id="two" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <header class="align-center">
                        <h2>Şekerpare</h2>
                    </header>
                    <img style="margin:0px 30px 40px 0px" class="image fit left" src="{% static 'home/images/sekerpare.jpeg' %}" alt=""/>
                    <ul>
                        <li><span>3</span><span>yemek kaşığı</span><span class="fw-normal">ayçiçek yağı</span></li>
                        <li><span>1</span><span>adet</span><span class="fw-normal">kuru soğan</span><span>(iri doğranmış)</span></li>
                        <li><span>1</span><span>yemek kaşığı</span><span class="fw-normal">un</span></li>
                        <li><span>1</span><span>adet</span><span class="fw-normal">havuç</span><span>(iri doğranmış)</span></li>
                        <li><span>1</span><span>adet</span><span class="fw-normal">patates</span><span>(büyük boy, iri doğranmış)</span></li>
                        <li><span>1</span><span>tatlı kaşığı</span><span class="fw-normal">tuz</span></li>
                        <li><span>1</span><span>çay kaşığı</span><span class="fw-normal">karabiber</span></li>
                        <li><span>1,5</span><span>su bardağı</span><span class="fw-normal">kırmızı ya da sarı mercimek</span></li>
                        <li><span>6</span><span>su bardağı</span><span class="fw-normal">sıcak su</span><span>(1 adet et su tablet ile hazırlanmış)</span></li>
                    </ul>
                    <ol>
                        <li><div>Derin bir tencereye 3 yemek kaşığı sıvı yağ ekleyin. İri doğranmış 1 adet büyük soğanı sıvı yağ ile birlikte kavurun.</div></li>
                        <li><div>Kavrulan soğanlara 1 yemek kaşığı unu ekleyin ve kokusu çıkıp, renk alana kadar kavurma işlemini sürdürün.&nbsp;İri parçalar halinde doğradığınız birer adet havuç ve patatesi tencereye aktarıp karıştırmaya devam edin.</div>
                        <li><div>Tuz, karabiber ve bol suda yıkadıktan sonra suyunu süzdürdüğünüz&nbsp;1,5 su bardağı mercimeği&nbsp; de ilave edin ve son kez güzelce karıştırın.</div></li>
                        <li><div>6 su bardağı sıcak suyu da tencereye ilave edin.</div></li>
                        <li><div>Ardından kapağını kapatın, patates ve havuçlar yumuşayana kadar ara ara karıştırarak 40 dakika kadar pişirin.</div></li>
                        <li><div>Çorba piştikten sonra pürüzsüz bir kıvam alması için; el blenderından geçirin. 5 dakika daha pişirdikten sonra ocaktan alın.</div></li>
                        <li><div>3 yemek kaşığı sıvı yağ ve 2 yemek kaşığı tereyağını bir tavada kızdırın. Üzerine 1 tatlı kaşığı toz kırmızı biberi ekleyin ve 2 dakika yağı kızdırdıktan sonra ocaktan alın.</div></li>
                        <li><div>Çorbayı bir kaseye alın ve üzerine kızdırdığınız yağdan gezdirip servis edin.</div></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
{% endblock %}